[phases.setup]
providers = ['...', 'python']
nixPkgs = ["nodejs_20", "python312"]

[phases.install]
cmds = [
  "cd frontend && npm ci",
  "cd backend && pip install -r requirements.txt"
]

[phases.build]
cmds = ["cd frontend && npm run build"]

[start]
cmd = "cd backend && gunicorn app:app --bind 0.0.0.0:$PORT"

